/*
*style audio tag
*/

.mejs-offscreen{
    display: none;
}

.button-play-container{
    position: relative;
    margin: -1000;
    z-index: 2;
}

.mejs-container {
    display: flex;
    justify-content:center;
}


.mejs-container .mejs-controls {
    background: transparent;
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;

}

.mejs-controls div {
    width: 50px;
    position: relative;

}

/* Button PLAY/PAUSE */
.mejs-controls .mejs-button button {
    height: 100%;
    width: 100%;
    border: 0;
    background: linear-gradient(-45deg, #ee9d52, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-radius: 50px;
}

.mejs-controls .mejs-play:after {
    position: absolute;
    content: "";
    background: url(../files/svg/play.svg) no-repeat;
    width: 17px;
    height: 22px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: all 100ms linear;
    pointer-events: none;
}

.mejs-controls .mejs-pause:after {
    position: absolute;
    content: "";
    background: url(../files/svg/pause.svg) no-repeat;
    width: 13px;
    height: 22px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: all 100ms linear;
    pointer-events: none;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
