@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Nunito';

* {
	outline: none;
	margin: 0;
}

html,
body {
	max-width: 100% !important;
	overflow-x: hidden !important;
	font-family: 'Nunito', 'lato';

}


/*👇 for preload play/pause svg*/
body:after {
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
	content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 20px;
	padding: 5%;
}

.player-container {
	padding: 10px;
	align-items: center;
	text-align: center;
}

.player {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	gap: 10px;
}

.logo-player-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	box-shadow: #a4ccff70 0px 20px 30px;
	border-radius: 100%;
	width: 320px;
	height: 320px;
}

img.logo-player {
	width: 180px;
}

.information {
	background-color: #dee8eb;
	border-radius: 15px;
	padding: 45px;
}

.social-container {
	/*border-color: black;
	border-width: 2px;
	border-style: solid;*/
	padding: 5px;
}

footer {
	width: auto;
	height: 50px;
	padding: 50px;
	background-color: #dee8eb;
	text-align: center;
	color: #646060;
}

.description {
	text-align: left;
	color: #363636;
	font-weight: 700;
	font-size: 18px;
}

.resalta {
	color: #2b9e07;
}

.cont {
	margin-bottom: 28px;
}

.cont h3 {
	font-size: 50px;
	margin: 0 0 10px 0;
	color: #6a6a6a;
}

.cont time {
	font-size: 20px;
	color: #999;

}


.embed-container {
	position: relative;
	/*padding-bottom: 690px;*/
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


h2.radio-text {
	color: #32A6D8;
	font-weight: 900;
	font-size: 25px;
}

.subtitle {
	color: #2b9e07;
	font-weight: 600;
	font-size: 18px;
}

#sonic_listeners::after {
	content: ' ';
}

#sonic_title {
	color: #757575;
	font-weight: 500;
}

#sonic_listeners {
	color: #004a61;
	font-weight: 500;
	margin-bottom: 10px;
}

#sonic_listeners::before {
	content: "Oyentes: ";
}

.contenedor {
	margin-top: 50px;
}

.audio {
	margin-top: 30px;
}


@media only screen and (min-width: 1501px) {
	.content-info {
		margin: 100px 20px 80px 5%;
	}


}

@media only screen and (max-width: 1500px) {
	.content-info {
		margin: 50px 20px 0px 15%;
	}



}

@media only screen and (max-width: 479px) {

	.content-info {
		margin: 50px 20px 0px 10%;
	}

	.social-content {
		margin-bottom: 5px;
	}


}