@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Nunito';

* {
	outline: none;
	margin: 0;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
	background: #fff;
	font-family: 'Lato';
	
}

/*👇 for preload play/pause svg*/
body:after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
}

footer{
	width: auto;
	height: 50px;
	padding: 50px;
	background-color: #dee8eb;
	text-align: center;
	color: #646060;
}


.information .title {
	text-align: left;
	font-family: 'Nunito', sans-serif;
	color: #363636;
	font-weight: 800;
	font-size: 20px;
}

.description {
	text-align: left;
	font-family: 'Nunito', sans-serif;
	color: #363636;
	font-weight: 700;
	font-size: 18px;
}

.resalta {
	color: #2b9e07;
}

.cont {
	margin-bottom: 28px;
}

.cont h3 {
	font-family: 'Lato';
	font-size: 50px;
	margin: 0 0 10px 0;
	color: #6a6a6a;
}

.cont time {
	font-family: 'Lato';
	font-size: 20px;
	color: #999;

}

.content-info{
	margin: 100px 20px 0px 20px;
	padding-left: 20px;
}


.information {
	background-color: #dee8eb;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 30px;
	margin-bottom: 50px;
	padding: 45px;
	line-height : 35px;
}

@media only screen and (min-width: 801px) {
	/* .content-radio {
	
	} */
	
	.content-player {
		position: fixed;

		max-width: 500px;
		text-align: center;
		padding: 100px 0px 0px 100px;
		z-index: 200;
	}

	img.logo-player {
		width: 30%;
		margin: auto;
	}

	.information {
		margin-top: 50px;
		max-width: 500px;
	}
	

}

@media only screen and (max-width: 800px) {
	.content-radio {
	margin-top: 80px;
	}
	
	.content-player {
		text-align: center;
		padding: 0px 100px 0px 100px;
	}

	img.logo-player {
		width: 40%;
		margin-top: 10px;
	}

	.information {
		margin-top: 50px;
		margin-left: 40px;
		margin-right: 30px;
		margin-bottom: 50px;
		padding: 45px;
	}

	
	
	
}

.embed-container {
	position: relative;
	/*padding-bottom: 690px;*/
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


h2.radio-text {
	font-family: 'Nunito', sans-serif;
	color: #32A6D8;
	font-weight: 900;
	font-size: 25px;
}

.subtitle {
	font-family: 'Nunito''bold', sans-serif !important;
	color: #2b9e07;
	font-weight: 600;
	font-size: 18px;
}

#sonic_listeners::after {
	content: ' '; 
}

#sonic_title {
	font-family: 'Nunito''bold', sans-serif;
	color: #757575;
	font-weight: 500;
}

#sonic_listeners {
	font-family: 'Nunito''bold', sans-serif;
	color: #004a61;
	font-weight: 500;
	margin-bottom: 10px;
}

#sonic_listeners::before {
	content: "Oyentes: ";
}

.contenedor {
	margin-top: 50px;
}

.audio {
	margin-top: 30px;
}




/*-----------------------------------------------------------------*/

/* .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: red;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
	animation: move 3s linear infinite;
	opacity: 0.1;
} */
/* 
.mejs-controls .mejs-time-rail .mejs-time-current {
    background: linear-gradient(to right, #23c1c3, #948eff, #00ccff, #23c1c3, #e58eff);
} */



/* .mejs-controls .mejs-button button:focus {
	outline: none;
}
@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}  */